// $options: (
//     parentClass: "about-section__grid",
//     itemsClass: "about-section__card",
//     desktopGap: 1px,
//     desktopElems: 2,
//     tablet: "1180px",
//     tabletElems: 2,
//     tabletGap: 30px,
//     mobile: "600px",
//     mobileElems: 1,
//     mobileGap: 20px
// );
// @include flex-layout($options);


.about-section {
    background-color: var(--athens-color);
    border-bottom: 1px dashed var(--botticelli-color);

    @include mobile {
        border-bottom: none;
    }

    &__container {
        padding: 60px 0 30px;

        @include desktop {
            padding: 50px 0;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__title {
        margin-bottom: 20px;
    }

    &__inner {
        display: flex;
        gap: 41px;

        @include tablet {
            flex-direction: column;
            gap: 0;
        }

    }

    &__left {
        flex-basis: 50%;
        flex-shrink: 0;

        @include tablet {
            flex-basis: auto;

            &.mobile {
                display: none;
            }
        }
    }

    &__video {
        overflow: hidden;

        @media screen and (min-width: 1930px) {
            height: 100%;
            max-height: 600px;
        }

        @include tablet {
            height: 400px;
        }

        @include mobile {
            height: 240px;
            margin: 0 -20px;
        }

        img,
        picture,
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__grid {
        border-bottom: 1px dashed var(--botticelli-color);
        margin-bottom: 40px;

        @include tablet {
            border-top: none;
        }
    }

    &__card {
        border-top: 1px dashed var(--botticelli-color);

        &:nth-child(odd) {
            border-right: 1px dashed var(--botticelli-color);
        }

        &:nth-child(even) {
            padding-left: 38px;

            @include mobile {
                padding-left: 20px;
            }
        }
    }

    &__info {
        padding-bottom: 28px;
        margin-bottom: 25px;
        border-bottom: 1px dashed var(--botticelli-color);

        @media screen and (min-width: 1600px) {
            margin-bottom: 80px;
        }

        @include mobile {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 40px;
        }

        p {
            font-size: 14px;
            line-height: 26px;
            margin: 0;
            @include mb(24px);
            color: #222222;
        }
    }

    &__callback {
        @include flex-all-sb;
        gap: 20px;

        @include mobile {
            padding-bottom: 40px;
            border-bottom: 1px dashed var(--botticelli-color);
        }
    }

    &__more {
        min-width: 138px;

        @include small-tablet {
            min-width: 109px;
        }
    }

    &__questions {
        @include flex-all-sb;
        gap: 30px;



        span {
            font-size: 14px;
            line-height: 20px;
            color: var(--dark-color);
        }
    }

    &__links {
        @include flex-v-center;
        gap: 10px;

        a {
            display: flex;
            transition: transform .5s ease-in-out;

            &:hover {
                transform: translateY(-2px);
            }

            @include mobile {
                width: 30px;
                height: 30px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.about-section-card {
    padding: 38px 45px 38px 0;
    min-height: 175px;

    @include mobile {
        padding: 40px 16px 38px 0;
    }

    h3 {
        @include EUSemiBold;
        font-size: 28px;
        line-height: 28px;
        color: #4274E9;
        margin: 0 0 10px;

        @include mobile {
            font-size: 22px;
            line-height: 28px;
        }
    }

    p {
        @include EUSemiBold;
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        color: var(--dark-color);

        @include mobile {
            font-size: 13px;
            line-height: 17px;
        }
    }
}

.about {
    &__head {
        margin-bottom: 40px;

        h1 {
            margin: 0;
        }
    }

    &__banner {
        display: flex;

        @media screen and (min-width: 1441px) {
            height: 500px;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }
}