.articles {
    background-color: var(--athens-color);
    border-bottom: 1px dashed var(--botticelli-color);

    &__container {
        padding: 100px 0 55px;

        @include small-tablet {
            padding: 50px 0;
        }
    }

    &__head {
        @include flex-all-sb;
        margin-bottom: 20px;

        a {
            font-size: 14px;
            line-height: 20px;
            color: var(--pale-color);
            position: relative;

            &:after {
                content: "";
                background-color: var(--pale-color);
                border-radius: 8px;
                bottom: 0px;
                height: 1px;
                left: 0;
                position: absolute;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform .5s ease-in-out;
                width: 100%;
            }


            &:hover:after {
                transform: scaleX(1);
                transform-origin: left;
            }

            @include mobile {
                display: none;
            }
        }
    }

    &-slider {
        overflow: visible;
    }
}

.articles-card {
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);

    width: 100%;
    transition: transform .25s ease-in-out;

    &.colored {
        background-color: var(--porclain-color);
    }

    &:hover {
        transform: translateY(-5px);
    }

    &__image {
        height: 182px;

        @include mobile {
            height: 147px;
        }

        img,
        picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        padding: 20px 30px;

        @include mobile {
            padding: 25px 20px;
        }

        h3 {
            @include EUSemiBold;
            font-size: 15px;
            line-height: 20px;
            margin: 0 0 13px;

            @include mobile {
                line-height: 18px;
                margin: 0 0 16px;
            }
        }

        p {
            font-size: 13px;
            line-height: 18px;
            margin: 0 0 13px;

            @include mobile {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    &__links {
        @include flex-v-center;
        gap: 24px;
    }

    &__more {
        padding: 14px;
        border-radius: 24px;
        min-width: 116px;

        @include mobile {
            padding: 10px 0;
            min-width: 110px;
            font-size: 11px;
            line-height: 22px;
        }
    }

    &__link {
        font-size: 11px;
        line-height: 18px;
        color: var(--pale-color);
    }
}