.blog {
    &__container {
        padding-bottom: 80px;
    }

    &__grid {
        margin-bottom: 40px;
    }
}

$options: (
    parentClass: "blog__grid",
    itemsClass: "articles-card",
    desktopGap: 16px,
    desktopElems: 4,
    tablet: "1440px",
    tabletElems: 3,
    tabletGap: 16px,
    mobile: "1024px",
    mobileElems: 1,
    mobileGap: 20px
);

@include flex-layout($options);