.blog {
    &__container {
        padding-bottom: 80px;
    }

    &__head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 50px;

        @include tablet {
            flex-direction: column;
            gap: 15px;
        }

        h1 {
            margin: 0;
        }

        p {
            margin: 0 0 22px;
            @include EUSemiBold;
            font-size: 14px;
            line-height: 20px;
            color: var(--dark-color);
        }
    }

    &__head-right {
        flex-basis: 440px;

        @include tablet {
            flex-basis: auto;
        }
    }


    &__grid {
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 16px;

        @include small-tablet {
            grid-template-columns: 1fr 1fr;

            article {

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(8),
                &:nth-child(9),
                &:nth-child(10),
                &:nth-child(11) {
                    display: none;
                }
            }
        }

        @media screen and (max-width: 650px) {
            grid-template-columns: 1fr;
        }
    }
}

.blog-form {
    &__inputs {
        @include flex-v-center;
        gap: 10px;
        margin-bottom: 12px;
    }

    input {
        flex-grow: 1;
    }

    &__button {
        flex-shrink: 0;
        min-width: 174px;

        @include mobile {
            min-width: 118px;
        }
    }
}