.configurations {
    &__container {
        @include small-tablet {
            padding-top: 60px;
        }
    }

    &__tabs-wrapper {
        position: sticky;
        top: 0;
        overflow: auto;
        z-index: 10;

        @include tablet {
            top: 20px;
        }

        @include small-tablet {
            top: 50px;
        }
    }

    &__tabs {
        padding: 90px 34px 15px 34px;
        margin-bottom: 40px;
        @include flex-v-center;
        gap: 24px;

        background-color: var(--light-color);
        z-index: 5;

        @include tablet {
            padding: 60px 20px 15px;
            top: 20px;
        }

        @include small-tablet {
            padding: 20px 20px 15px;
            margin-bottom: 0;
            width: max-content;
            overflow: auto;
        }
    }

    &__tab {
        @include EUSemiBold;
        font-size: 15px;
        line-height: 20px;
        color: var(--gray-color);
        transition: color .25s ease-in-out;
        position: relative;

        @include small-tablet {
            font-size: 13px;
            line-height: 20px;
        }

        &:not(.active):after {
            content: "";
            background-color: var(--gray-color);
            border-radius: 8px;
            bottom: 0px;
            height: 1px;
            left: 0;
            position: absolute;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .25s ease-in-out;
            width: 100%;
        }

        &:hover:after {
            transform: scaleX(1);
            transform-origin: left;
        }

        &.active {
            color: var(--dark-color);
        }
    }

    &__head {
        padding: 0 34px 21px;
        border-bottom: 1px dashed var(--botticelli-color);

        @include tablet {
            padding: 0 20px 20px;
        }
    }

    &__items {
        display: flex;

        @include tablet {
            flex-direction: column;
            background-color: var(--blue-color);
        }
    }

    &-content {
        border-bottom: 1px dashed var(--botticelli-color);
        display: none;
        animation: fade .25s ease-in-out;

        @include tablet {
            border-bottom: none;
            padding-top: 20px;
        }

        &.show {
            display: block;
        }
    }

    &__item {
        flex-basis: 50%;

        &:not(:last-child) {
            border-right: 1px dashed var(--botticelli-color);

            @include tablet {
                border-right: none;
            }
        }
    }

    &-leasing__container {
        padding: 63px;

        @include tablet {
            padding: 0;
            padding-bottom: 40px;
        }
    }

    &-lines__list {
        @include tablet {
            border-top: 1px dashed var(--botticelli-color);
        }
    }
}

.configurations-item {
    padding: 41px 34px 34px;
    display: flex;
    flex-direction: column;

    @include tablet {
        padding: 40px 20px 34px;

        &:not(:last-child) {
            border-bottom: 1px dashed var(--botticelli-color);
        }
    }

    &__top {
        h3 {
            @include EUSemiBold;
            margin: 0 0 12px;
            font-size: 18px;
            line-height: 22px;
            color: var(--blue-color);

            @include tablet {
                color: var(--light-color)
            }
        }

        p {
            @include EUSemiBold;
            font-size: 14px;
            line-height: 22px;
            margin: 0 0 24px;

            @include tablet {
                color: var(--light-color)
            }
        }
    }

    &__content {
        margin-top: auto;
    }

    &__image {
        width: 100%;
        height: 275px;
        display: flex;

        @media screen and (min-width: 1400px) {
            height: 400px;
        }

        @media screen and (min-width: 2000px) {
            height: 500px;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__info {
        margin-bottom: 40px;
    }

    &__flex {
        @include flex-all-sb;
        padding: 10px 20px;

        &:nth-child(odd) {
            background-color: #F4F6FF;
        }

        @include tablet {
            &:nth-child(odd) {
                background-color: #1646B2;
            }

            &:nth-child(even) {
                background-color: #3363D1;
            }
        }

        span {
            font-size: 13px;
            line-height: 26px;
            color: #222;

            @include tablet {
                color: #CEDFF9;
            }
        }
    }

    &__download {
        @include flex-v-center;
        gap: 14px;
        cursor: pointer;

        span {
            @include EUSemiBold;
            font-size: 13px;
            line-height: 32px;
            color: #2252BF;
            position: relative;

            &:after {
                content: "";
                background-color: #2252BF;
                border-radius: 8px;
                bottom: 2px;
                height: 1px;
                left: 0;
                position: absolute;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform .25s ease-in-out;
                width: 100%;
            }

            &:hover:after {
                transform: scaleX(1);
                transform-origin: left;
            }

            @include tablet {
                color: var(--light-color);
            }
        }
    }
}