.delivery {
    border-bottom: 1px dashed var(--botticelli-color);

    &__container {
        padding-bottom: 50px;
    }

    &__head {
        margin-bottom: 50px;

        @include small-tablet {
            margin-bottom: 40px;
        }

        h1 {
            margin: 0;
        }
    }

    &__info {
        padding-left: 400px;

        @include tablet {
            padding-left: 200px;
        }

        @include small-tablet {
            padding-left: 30px;
        }

        p {
            margin: 0;
            @include EUSemiBold;
            font-size: 16px;
            line-height: 22px;
            color: var(--dark-color);
            position: relative;

            @include small-tablet {
                font-size: 13px;
                line-height: 17px;
            }

            &::after {
                content: "";
                top: 4px;
                left: -30px;
                width: 18px;
                height: 3px;
                position: absolute;
                margin-bottom: 109px;
                background-color: var(--dark-color);
            }
        }
    }
}

.leasing {
    &__container {
        padding-top: 60px;
        padding-bottom: 80px;

        @include mobile {
            padding-bottom: 40px;
        }
    }

    &__head {
        margin-bottom: 30px;
    }

    &__inner {
        display: flex;
        background-color: var(--porclain-color);

        @include tablet {
            flex-direction: column;
            gap: 20px;
            background-color: transparent;
        }
    }

    &__block {
        flex-basis: 50%;
        flex-shrink: 0;

        @include tablet {
            background-color: var(--porclain-color);
        }

        &:not(:last-child) {
            border-right: 1px dashed var(--botticelli-color);

            @include tablet {
                border-right: 0;
            }
        }
    }
}

.leasing-block {
    padding: 55px 40px;
    display: flex;
    flex-direction: column;

    @include small-tablet {
        padding: 25px 20px 30px;
    }

    h3 {
        @include EUSemiBold;
        font-size: 36px;
        line-height: 44px;
        color: #9CADC2;
        margin: 0 0 12px;

        @include small-tablet {
            font-size: 25px;
            line-height: 44px;
        }
    }

    p {
        @include EUSemiBold;
        margin: 0;
        font-size: 15px;
        line-height: 22px;
        color: var(--dark-color);

        @include small-tablet {
            font-size: 13px;
            line-height: 17px;
        }
    }

    &__top {
        margin-bottom: 40px;

        @include small-tablet {
            margin-bottom: 30px;
        }
    }

    &__bottom {
        margin-top: auto;
    }

    &__list {
        column-count: 2;
    }

    li {
        padding-left: 10px;
        position: relative;
        @include EUSemiBold;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;

        @include small-tablet {
            font-size: 13px;
            line-height: 17px;
        }

        &::before {
            content: "";
            top: 6px;
            left: 0;
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background-color: var(--dark-color);
            position: absolute;
        }
    }


    span {
        font-size: 13px;
        line-height: 22px;
        color: var(--pale-color);
        opacity: 0.9;
    }
}