.equipment {
    &__container {
        padding: 115px 0 100px;
    }

    &__head {
        margin-bottom: 36px;
    }

    &__switchers {
        @include flex-v-center;
        gap: 24px;
        margin-bottom: 24px;

        @include mobile {
            display: grid;
            grid-template-columns: repeat(4, max-content);
            overflow: auto;
            width: 100%;
        }
    }

    &__switcher {
        @include EUSemiBold;
        font-size: 15px;
        line-height: 20px;
        color: var(--gray-color);
        transition: color .25s ease-in-out;
        position: relative;

        @include mobile {
            font-size: 13px;
            line-height: 20px;
        }

        &:not(.active):after {
            content: "";
            background-color: var(--gray-color);
            border-radius: 8px;
            bottom: 0px;
            height: 1px;
            left: 0;
            position: absolute;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .25s ease-in-out;
            width: 100%;
        }

        &:hover:after {
            transform: scaleX(1);
            transform-origin: left;
        }

        &.active {
            color: var(--dark-color);
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 16px;
    }
}

// $options: (
//     parentClass: "equipment__grid",
//     itemsClass: "equipment__card",
//     desktopGap: 16px,
//     desktopElems: 5,
//     tablet: "1440px",
//     tabletElems: 3,
//     tabletGap: 16px,
//     mobile: "600px",
//     mobileElems: 1,
//     mobileGap: 20px
// );

// @include flex-layout($options);