.footer {
    background-color: #1E323C;
    color: #A8B9BF;

    &__container {
        padding: 65px 0 47px;
        margin-bottom: 36px;
        border-bottom: 1px dashed #777d83;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;

        @include small-tablet {
            gap: 40px;
            flex-direction: column;
        }

        @include mobile {
            gap: 70px;

        }
    }



    &__rights {
        padding-bottom: 36px;
        @include flex-all-sb;
        gap: 20px;
        font-size: 11px;
        line-height: 17px;

        @include small-tablet {
            flex-wrap: wrap;
            font-size: 10px;
            line-height: 20px;
        }

        .private {
            @include small-tablet {
                order: -2;
                line-height: 20px;
            }

            max-width: 120px;
        }

        .policy {
            max-width: 120px;
        }

        .business {
            max-width: 200px;

            @include small-tablet {
                order: -1;

                img,
                svg {
                    width: 20px;
                    height: 20px;
                }
            }

            &>div {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 2px;
            }
        }

        .links {
            @include flex-v-center;
            gap: 20px;

            @include small-tablet {
                gap: 14px;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    &__logo {

        transform: translateY(-25px);

        @include small-tablet {
            order: 1;
            transform: translateY(0);
            margin: 0 auto;

        }
    }

    &__nav {
        column-gap: 100px;
        column-count: 2;

        @include tablet {
            column-gap: 20px;
            column-count: 1;
        }

        @include small-tablet {
            column-count: 2;
            column-gap: 40px;
        }

        li {
            margin-bottom: 30px;
        }
    }

    &__nav-link {
        font-size: 13px;
        line-height: 18px;

        @media screen and (min-width: 991px) {
            position: relative;

            &:after {
                content: "";
                background-color: #A8B9BF;
                border-radius: 8px;
                bottom: -2px;
                height: 0.5px;
                left: 0;
                position: absolute;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform .25s ease-in-out;
                width: 100%;
            }

            &:hover:after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }

}

.footer-contacts {
    // flex-basis: 303px;
    flex-basis: 25%;

    @include small-tablet {
        width: 100%;
        flex-basis: 100%;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        text-align: right;

        &:not(:last-child) {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 0.5px dashed #777D83;
        }
    }

    .phone a {
        @include EUSemiBold;
        font-size: 17px;
        line-height: 22px;
        position: relative;

        &:after {
            content: "";
            background-color: #A8B9BF;
            border-radius: 8px;
            bottom: 0;
            height: 0.5px;
            left: 0;
            position: absolute;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .5s ease-in-out;
            width: 100%;
        }


        &:hover:after {
            transform: scaleX(1);
            transform-origin: left;
        }
    }

    .socials {
        .left {
            @include flex-v-center;
            gap: 9px;

            a {
                transition: transform .5s ease-in-out;

                &:after {
                    display: none;
                }

                &:hover {
                    transform: translateY(-2px);
                }
            }
        }

        button,
        a {
            font-size: 13px;
            line-height: 22px;
            color: inherit;
            position: relative;

            &:after {
                content: "";
                background-color: #A8B9BF;
                border-radius: 8px;
                bottom: 0;
                height: 0.5px;
                left: 0;
                position: absolute;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform .5s ease-in-out;
                width: 100%;
            }


            &:hover:after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }

    .location {
        span {
            max-width: 250px;
            font-size: 13px;
            line-height: 18px;

        }
    }

    .mail a {
        position: relative;

        &:after {
            content: "";
            background-color: #A8B9BF;
            border-radius: 8px;
            bottom: 0;
            height: 0.5px;
            left: 0;
            position: absolute;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .5s ease-in-out;
            width: 100%;
        }


        &:hover:after {
            transform: scaleX(1);
            transform-origin: left;
        }
    }
}


.link-youtube {
    svg {
        transition: fill .5s ease-in-out;
        fill: #BAC9CF;
    }

    &:hover svg {
        fill: #EC2116;
    }
}

.link-rutube {
    svg {
        transition: fill .5s ease-in-out;
        fill: #BAC9CF;
    }

    &:hover svg {
        fill: #000;
    }
}

.link-dzen {
    svg {
        transition: fill .5s ease-in-out;
        fill: #BAC9CF;
    }

    &:hover svg {
        fill: #000;
    }
}

.link-vk {
    svg {
        transition: fill .5s ease-in-out;
        fill: #BAC9CF;
    }

    &:hover svg {
        fill: #0077FF;
    }
}