.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 34px;
    z-index: 50;
    transition: background-color .25s ease-in-out, box-shadow .25s ease-in-out, transform .25s ease-in-out;

    &.scroll {
        background-color: var(--light-color);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    &.scroll &__link {
        color: var(--dark-color)
    }


    ul {
        @include flex-v-center;
        gap: 34px;
    }

    &__link {
        @include EURegular;
        font-size: 10px;
        line-height: 22px;
        color: var(--light-color);
        text-transform: uppercase;
        opacity: 0.8;
        transition: opacity .25s ease-in-out, color .25s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 52;
    background-color: var(--light-color);
    transition: box-shadow .25s ease-in-out, transform .25s ease-in-out;
    border-bottom: 1px dashed var(--botticelli-color);

    &.main-page {
        transform: translateY(-100px);
    }

    &.scroll {
        transform: translateY(0);
        background-color: var(--light-color);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    &__container {
        padding: 13px 34px;
        @include flex-all-sb;
    }

    // &__logo {
    //     margin-right: 60px;
    // }

    // &__nav {
    //     margin-right: 100px;
    // }
    &__right {
        @include flex-v-center;
        gap: 24px;
    }

    &__socials {
        @include flex-v-center;
        gap: 5px;
    }

    &__call {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;

        a {
            @include EUSemiBold;
            font-size: 14px;
        }

        button {
            font-size: 11px;
            text-decoration-line: underline;
            color: #4A494A;

        }
    }
}