$options: (
    parentClass: "hero__container-bottom",
    itemsClass: "hero__card",
    desktopGap: 1px,
    desktopElems: 4,
    tablet: "1020px",
    tabletElems: 2,
    tabletGap: 30px,
    mobile: "600px",
    mobileElems: 1,
    mobileGap: 20px
);
@include flex-layout($options);


.hero {
    &__top {
        @include flex;
    }

    &__main {
        flex-grow: 1;

        img,
        picture {
            width: 100%;
            object-fit: cover;
        }
    }

    &__side {
        flex-basis: 317px;
        padding: 14px 40px 40px;

        @media screen and (min-width: 1600px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        @include desktop {
            padding: 14px 20px 20px;
            flex-basis: 250px;
        }
    }

    &__logo {
        display: inline-block;
        margin-bottom: 12px;
        position: relative;
        z-index: 51;
    }

    &__after-logo {
        max-width: 200px;
        font-size: 10px;
        line-height: 16px;
        margin: 0;
        color: var(--manatee-color);
    }

    &__container-bottom {
        @include tablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__card {
        padding: 47px 15px 61px;
        display: flex;
        flex-direction: column;

        @include tablet {
            padding: 30px 20px 40px;
            width: 100%;
        }

        @include small-tablet {
            padding-bottom: 30px;
        }

        &:nth-child(1) {
            padding-left: 34px;

            @include desktop {
                padding-left: 20px;
            }
        }

        &:not(:last-child) {
            border-right: 1px dashed var(--botticelli-color);

            @include tablet {
                border-right: 0;
            }
        }

        @include tablet {

            &:nth-child(1),
            &:nth-child(2) {
                border-bottom: 1px dashed var(--botticelli-color);
            }

            &:nth-child(odd) {
                border-right: 1px dashed var(--botticelli-color);
            }

        }

        .label {
            width: 18px;
            height: 3px;
            margin-bottom: 109px;
            background-color: var(--dark-color);

            @include tablet {
                margin-bottom: 50px;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        h3 {
            min-height: 66px;
            margin: 0 0 12px 0;
            @include EUSemiBold;
            font-size: 17px;
            line-height: 22px;
            max-width: 260px;

            @include small-tablet {
                font-size: 15px;
                line-height: 18px;
            }
        }

        p {
            margin: 0;
            font-size: 13px;
            line-height: 20px;
            color: #6F757C;

            @include small-tablet {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}

.hero-nav {
    position: relative;
    z-index: 2;
    padding-left: 34px;
    padding-top: 35px;
    @include flex-v-center;
    gap: 24px;

    @include desktop {
        padding-left: 20px;
        padding-top: 30px;
    }

    @include tablet {
        display: none
    }

    &__link {
        @include EURegular;
        font-size: 10px;
        line-height: 22px;
        color: var(--light-color);
        text-transform: uppercase;
        opacity: 0.8;
        transition: all .8s ease-in-out;

        &:hover {
            opacity: 1;
        }

        @media screen and (min-width: 991px) {
            position: relative;

            &:after {
                content: "";
                background-color: var(--light-color);
                border-radius: 8px;
                bottom: -2px;
                height: 1px;
                left: 0;
                position: absolute;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform .25s ease-in-out;
                width: 100%;
            }

            &:hover:after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }
}


.hero-main {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 1600px) {
        min-height: 900px;
    }


    &__video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        @include tablet {
            position: static;
            order: 1;
        }

        @include small-tablet {
            height: 387px;
        }

        &:after {
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            // background: rgba(0, 0, 0, 0.35);

            @include tablet {
                display: none;
            }
        }

        img,
        video,
        picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
        padding: 0 34px 40px;

        @include desktop {
            padding: 0 20px 20px;
        }

        @include tablet {
            background-color: var(--blue-color);
            padding-top: 200px;
        }

        @include small-tablet {
            padding-top: 160px;
        }

        h1 {
            @include EUSemiBold;
            margin: 0 0 50px 0;
            font-size: 44px;
            line-height: 50px;
            letter-spacing: -0.02em;
            color: var(--light-color);

            @include tablet {
                margin: 0 0 20px;
            }

            @include small-tablet {
                font-size: 31px;
                line-height: 34px;

                br {
                    display: none;
                }
            }

            span {
                background-color: var(--blue-color);
                border-radius: 20px;
                padding: 0 15px;

                @include tablet {
                    padding: 0;
                    background-color: transparent;
                }
            }
        }

        .bottom {
            @include flex-v-center;
            gap: 20px;
            padding-top: 17px;
            border-top: 1px dashed rgba(255, 255, 255, 0.3);

            @include tablet {
                border-top: none;
                flex-direction: column;
                align-items: flex-start;
                padding-top: 0;
            }

            p {
                margin: 0;
                font-size: 13px;
                line-height: 22px;
                color: var(--light-color);
                opacity: 0.9;
                max-width: 500px;

                @include small-tablet {
                    max-width: 100%;
                    font-size: 11px;
                    line-height: 17px;

                    color: #CEDFF9;
                }
            }

            &__buttons {
                @include tablet {
                    display: flex;
                    gap: 20px;
                }

                @include small-tablet {
                    gap: 5px;
                }

                @include mobile {
                    width: 100%;
                }
            }
        }
    }

    &__presentation {
        min-width: 263px;

        @include small-tablet {
            min-width: auto;
            font-size: 10px;
        }

        @include mobile {
            flex-basis: 55%;
        }
    }

    &__consultations {
        display: none;

        @include tablet {
            min-width: 263px;
            display: inline-flex;
        }

        @include small-tablet {
            min-width: auto;
            font-size: 10px;
        }

        @include mobile {
            flex-basis: 45%;
        }
    }
}

.hero-side {
    border-bottom: 1px dashed var(--botticelli-color);

    @include tablet {
        display: none;
    }

    &__top {
        margin-bottom: 54px;
    }

    &__bottom {
        ul {
            margin-bottom: 56px;
        }

        li {
            padding-left: 10px;
            @include EUSemiBold;
            font-size: 13px;
            line-height: 20px;
            padding-bottom: 14px;
            margin-bottom: 14px;
            border-bottom: 1px dashed var(--botticelli-color);
            position: relative;

            &::before {
                content: '';
                top: 6px;
                left: 0;
                width: 4px;
                height: 4px;
                border-radius: 100%;
                background-color: var(--dark-color);
                position: absolute;
            }
        }
    }

    &__item {
        border-bottom: 1px dashed var(--botticelli-color);

        &.item-top {
            padding-bottom: 22px;
            margin-bottom: 22px;
        }
    }

    &__phone {
        @include EUSemiBold;
        @include flex-v-center;
        gap: 19px;
        font-size: 15px;
        line-height: 1.2;

        svg {
            transition: fill .5s ease-in-out;
            fill: #BAC9CF;
        }

        &:hover svg {
            fill: var(--blue-color);
        }

        span {
            display: inline-block;
            margin-top: 4px;
            position: relative;

            &:after {
                content: "";
                background-color: var(--dark-color);
                border-radius: 8px;
                bottom: -2px;
                height: 1px;
                left: 0;
                position: absolute;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform .5s ease-in-out;
                width: 100%;
            }
        }

        &:hover span:after {
            transform: scaleX(1);
            transform-origin: left;
        }
    }

    &__order {
        @include flex-v-center;
        gap: 31px;

        .left {
            @include flex-v-center;
            gap: 7px;
        }
    }

    &__order-call {
        font-size: 13px;
        line-height: 22px;
        color: #6F757C;
        position: relative;

        &:after {
            content: "";
            background-color: #6F757C;
            border-radius: 8px;
            bottom: 0px;
            height: 1px;
            left: 0;
            position: absolute;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .5s ease-in-out;
            width: 100%;
        }


        &:hover:after {
            transform: scaleX(1);
            transform-origin: left;
        }
    }

    &__consultation {
        width: 100%;
    }
}