.history {
    &__container {
        padding-bottom: 80px;

        @include mobile {
            padding-bottom: 40px;
        }
    }

    &__head {
        margin-bottom: 30px;
    }

    &-slider {
        overflow: visible;
    }
}

.history-item {
    padding: 34px 32px 34px 30px;
    background-color: var(--porclain-color);
    width: 100%;

    @include mobile {
        padding: 30px 20px 38px;
    }

    h3 {
        @include EUSemiBold;
        font-size: 20px;
        line-height: 32px;
        margin: 0 0 20px;

        @include mobile {
            font-size: 16px;
            line-height: 32px;
        }
    }

    &__desc {
        margin-bottom: 20px;

        @include mobile {
            margin-bottom: 30px;
        }

        p {

            margin: 0;
            @include mb(20px);
            color: #222222;
            font-size: 13px;
            line-height: 20px;

            @include mobile {
                font-size: 12px;
                line-height: 22px;
            }
        }
    }

    a {
        @include EUSemiBold;
        font-size: 14px;
        line-height: 20px;
        text-decoration: underline;
        color: var(--dark-color);

        @include mobile {
            font-size: 13px;
            line-height: 17px;
        }
    }
}