.projects-section {
    &__container {
        padding: 60px 34px 30px;
    }

    &__head {
        margin-bottom: 20px;
    }

    &__more {
        margin-top: 30px;
        min-width: 154px;
    }

    &-slider {
        overflow: visible;
    }
}

.projects {
    &__container {
        padding-bottom: 80px;
    }

    &__head {
        margin-bottom: 85px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        justify-items: center;
        margin-bottom: 40px;

        @media (min-width: 1440px) {
            grid-template-columns: 1fr 1fr;
        }
    }
}


.projects-card {
    background-color: var(--blue-color);
    display: flex;
    color: #EAF2FF;
    max-width: 896px;
    width: 100%;

    @media (min-width: 1440px) {
        max-width: 100%;
    }

    &__content {
        padding: 38px 30px;

        h3 {
            @include EUSemiBold;
            font-size: 20px;
            line-height: 30px;
            margin: 0 0 45px;
        }

        span {
            @include EUSemiBold;
            font-size: 17px;
            line-height: 24px;
            display: inline-block;
            margin: 0 0 24px;
        }

        ul {
            margin: 0;
            padding-left: 15px;
            column-count: 2;
        }

        li {
            @include EUSemiBold;
            font-size: 13px;
            line-height: 16px;
            margin-bottom: 12px;
        }
    }

    &__right {
        img {
            width: 100%;
            height: 340px;
            object-fit: cover;
        }

        max-width: 328px;
        flex-shrink: 0;
        width: 100%;
    }

    &__slider {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        display: flex;
    }

    .swiper-button-next {
        right: 5px;
    }

    .swiper-button-prev {
        left: 5px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        &:after {
            display: none;
        }
    }

    .swiper-pagination-bullet {
        width: 20px;
        height: 3px;
        background-color: var(--light-color);
        opacity: 1;
        border-radius: 0;
        transition: background-color .25s ease-in-out;

        &-active {
            background-color: var(--accent-color);
        }
    }
}