.projects-section {
    &__container {
        padding: 60px 0 30px;
    }

    &__head {
        margin-bottom: 20px;
    }

    &__more {
        margin-top: 30px;
        min-width: 154px;
    }

    &-slider {
        overflow: visible;
    }
}

.projects {
    &__container {
        padding-bottom: 80px;
    }

    &__head {
        margin-bottom: 85px;

        @include small-tablet {
            margin-bottom: 45px;
        }

        h1 {
            margin: 0;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        justify-items: center;
        margin-bottom: 40px;

        @media (min-width: 1440px) {
            grid-template-columns: 1fr 1fr;
        }

        @include small-tablet {
            gap: 20px;
        }
    }
}


.projects-card {
    background-color: var(--blue-color);
    display: flex;
    color: #EAF2FF;
    max-width: 896px;
    width: 100%;

    @media (min-width: 1440px) {
        max-width: 100%;
    }

    @include small-tablet {
        flex-direction: column;
    }

    &__content {
        padding: 38px 30px;

        @include mobile {
            padding: 30px 20px 10px;
        }

        h3 {
            @include EUSemiBold;
            font-size: 20px;
            line-height: 30px;
            margin: 0 0 45px;

            @include mobile {
                font-size: 18px;
                line-height: 22px;
            }
        }

        span {
            @include EUSemiBold;
            font-size: 17px;
            line-height: 24px;
            display: inline-block;
            margin: 0 0 24px;

            @include mobile {
                font-size: 13px;
                line-height: 17px;
                margin: 0 0 14px;
            }
        }

        ul {
            margin: 0;
            padding-left: 15px;
            column-count: 2;
        }

        li {
            @include EUSemiBold;
            font-size: 13px;
            line-height: 16px;
            margin-bottom: 12px;

            @include mobile {
                font-size: 11px;
                line-height: 22px;
            }
        }
    }

    &__right {
        max-width: 328px;
        flex-shrink: 0;
        width: 100%;

        @include small-tablet {
            min-width: 0;
            max-width: calc(100vw - 40px);
        }

        @include mobile {
            display: flex;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include small-tablet {
                height: 350px;
            }

            @include mobile {
                height: 202px;
            }
        }


    }

    &__slider {
        width: 100%;
        height: 100%;
    }

}