.read-more {
    &.colored {
        background-color: var(--athens-color);
    }

    &__container {
        padding: 40px 0 60px;
    }

    &__item {
        margin-bottom: 24px;

        p {
            margin: 0;
            font-size: 14px;
            line-height: 26px;

            @include mobile {
                font-size: 12px;
                line-height: 22px;
            }
        }
    }

    &__link {
        font-size: 14px;
        line-height: 20px;
        text-decoration: underline;

        @include mobile {
            font-size: 13px;
            line-height: 17px;
        }
    }
}