.types {
    &__container {
        padding: 70px 0;
    }

    &__head {
        margin-bottom: 24px;

        h2 {
            margin: 0 0 10px;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        margin-bottom: 80px;

        @include small-tablet {
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 16px;

        @include small-tablet {
            grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
            gap: 10px;
        }
    }

    &__five {


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.types-item {
    display: flex;
    flex-direction: column;
    background-color: #F3F4F5;

    &__image {
        display: flex;
        justify-content: center;

        @include mobile {
            width: 110px;
            height: 110px;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__content {
        padding: 0 30px 30px;

        @include tablet {
            padding: 0 20px 30px;
        }

        h3 {
            @include EUSemiBold;
            margin: 0 0 10px;
            font-size: 16px;
            line-height: 22px;

            @include small-tablet {
                font-size: 13px;
                line-height: 17px;
            }
        }

        p {
            margin: 0;
            font-size: 13px;
            line-height: 18px;

            @include small-tablet {
                font-size: 11px;
                line-height: 14px;
            }
        }
    }
}