<div class="equipment__card equipment-card" data-content="@label">
    <div class="equipment-card__image">
        <picture>
            <source srcset="img/equipment/equipment-1.webp" type="image/webp">
            <img src="img/equipment/equipment-1.png" width="264" height="196">
        </picture>
    </div>
    <div class="equipment-card__content">
        <h3>Технологический комплекс подачи ламелей (ТКПЛ)</h3>
        <p>Участок для автоматизированной подачи минеральной ваты</p>
        <a href="" class="btn-primary">Подробнее</a>
    </div>
</div>