<div class="page-pagination">
    <div class="page-pagination__item animation-block present"><span>1</span></div>
    <div class="page-pagination__item animation-block"><span>2</span></div>
    <div class="page-pagination__item animation-block"><span>3</span></div>
    <div class="page-pagination__item animation-block"><span>4</span></div>
    <div class="page-pagination__item animation-block"><span>5</span></div>
    <div class="page-pagination__item animation-block"><span>6</span></div>
</div>