/* Style the list */

.breadcrumbs {
    @include flex-v-center;
    margin-bottom: 130px;

    @media screen and (max-width: 1400px) {
        margin-bottom: 40px;
    }

    @include desktop {
        margin-bottom: 80px;
    }

    @include small-tablet {
        margin-bottom: 30px;
    }

    li {
        font-size: 11px;
        line-height: 22px;
        color: #6F757C;
        opacity: 0.9;

    }

    a {
        color: inherit;
        transition: color .25s ease-out;

        &:hover {
            color: var(--blue-color);
        }
    }
}



.breadcrumbs li+li:before {
    padding: 4px;
    color: #6F757C;
    content: "\007C";
}