.equipment-card {
    background-color: var(--porclain-color);
    // max-width: 389px;
    width: 100%;
    transition: box-shadow .25s ease-in-out, transform .25s ease-in-out;

    @include mobile {
        padding-top: 30px;
    }

    &__image {
        display: flex;
        justify-content: center;

        @include mobile {
            height: 172px;


            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &__content {
        padding: 16px 30px 26px;

        @include mobile {
            padding: 30px 20px 30px;
        }

        h3 {
            @include EUSemiBold;
            font-size: 16px;
            line-height: 22px;
            margin: 0 0 5px;
        }

        p {
            font-size: 13px;
            line-height: 18px;
            margin: 0 0 20px;

            @include mobile {
                font-size: 12px;
                line-height: 18px;
            }
        }

        a {
            border-radius: 24px;
            padding: 14px;
            min-width: 116px;

            @include mobile {
                padding: 10px 0;
                min-width: 110px;
            }
        }
    }

    &:hover {
        transform: translateY(-5px);

    }
}