.nav {
    flex-grow: 1;
    max-width: fit-content;
    margin: 0 auto;

    @include tablet {
        flex-grow: initial;
        margin: 0;
        padding-top: 60px;
    }

    &__menu {
        @include flex-all-sb;

        gap: 24px;

        @include desktop {
            gap: 20px;
        }

        @include tablet {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        @media screen and (min-width: 1440px) {
            gap: 60px;
        }
    }

    &__item {
        position: relative;

        &.drop {
            &:after {
                content: '';
                top: 0;
                width: 7px;
                height: 7px;
                top: -2px;
                right: -10px;
                border-radius: 100%;
                background: var(--accent-color);
                position: absolute;
            }

            @include tablet {
                display: none;
            }
        }

        &.mobile {
            display: none;

            @include tablet {
                display: block;
            }
        }
    }

    &__link {
        @include EUSemiBold;
        font-size: 10px;
        line-height: 22px;
        text-transform: uppercase;
        color: #222222;

        @include tablet {
            color: var(--light-color);
            font-size: 18px;
            line-height: 20px;
            text-transform: initial;
        }

    }
}

.nav a {
    @media screen and (min-width: 991px) {
        position: relative;

        &:after {
            content: "";
            background-color: var(--dark-color);
            border-radius: 8px;
            bottom: -2px;
            height: 1px;
            left: 0;
            position: absolute;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .25s ease-in-out;
            width: 100%;
        }

        &:hover:after {
            transform: scaleX(1);
            transform-origin: left;
        }
    }
}

.nav__item:hover .nav-submenu {
    opacity: 1;
    visibility: visible;
}

.nav-submenu {
    background-color: var(--light-color);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: -20%;
    padding: 27px 20px;
    width: 100%;
    min-width: 240px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.65s cubic-bezier(1, 0, 0.41, 1.01);

    &__item {
        @include mb(12px);
    }

    &__link {
        @include EUSemiBold;
        font-size: 10px;
        line-height: 22px;
        text-transform: uppercase;
        color: #222222;

        @include tablet {
            color: var(--light-color);
            font-size: 18px;
            line-height: 20px;
            text-transform: initial;
        }
    }
}