.page-pagination {
    @include flex-all-center;
    gap: 10px;

    @include mobile {
        gap: 5px;
    }

    &__item {
        width: 44px;
        height: 44px;
        background-color: var(--porclain-color);
        border-radius: 100%;
        @include flex-all-center;
        font-size: 13px;
        line-height: 22px;
        @include EUSemiBold;
        cursor: pointer;
        transition: background-color .5s ease-in-out, color .5s ease-in-out;

        @include mobile {
            width: 30px;
            height: 30px;
            font-size: 12px;
            line-height: 22px;
        }

        &.present {
            color: var(--light-color);
            background-color: var(--accent-color);
        }

        &:not(.present):hover {
            background-color: darken(#F3F4F5, 10%);
        }
    }
}