<section class="articles">
    <div class="articles__container fluid">
        <div class="articles__head">
            <h2 class="articles__title section-title">Наши новости и статьи</h2>
            <a href="" class="articles__link">Все новости и статьи</a>
        </div>
        <div class="articles-slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide articles-slide">
                    <article class="articles-card animation-block">
                        <div class="articles-card__image animation-block">
                            <img width="389" height="182" src="img/news/image-1.jpg"
                                alt="Для чего нужен рейсмус в составе автоматизированной линии для производства сэндвич-панелей?">
                        </div>
                        <div class="articles-card__content animation-block">
                            <h3 class="animation-block">Для чего нужен рейсмус в составе
                                автоматизированной линии для
                                производства
                                сэндвич-панелей?</h3>
                            <p class="animation-block" data-delay="0.7">Данный модуль предназначен для калибровки
                                толщины плит из минеральной ваты.</p>
                            <div class="articles-card__links animation-block" data-delay="0.7">
                                <a href="" class="articles-card__more btn-primary">Подробнее</a>
                                <a href="" class="articles-card__link">Новость</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="swiper-slide articles-slide">
                    <article class="articles-card animation-block">
                        <div class="articles-card__image animation-block">
                            <img width="389" height="182" src="img/news/image-1.jpg"
                                alt="Для чего нужен рейсмус в составе автоматизированной линии для производства сэндвич-панелей?">
                        </div>
                        <div class="articles-card__content animation-block">
                            <h3 class="animation-block">Для чего нужен рейсмус в составе
                                автоматизированной линии для
                                производства
                                сэндвич-панелей?</h3>
                            <p class="animation-block" data-delay="0.7">Данный модуль предназначен для калибровки
                                толщины плит из минеральной ваты.</p>
                            <div class="articles-card__links animation-block" data-delay="0.7">
                                <a href="" class="articles-card__more btn-primary">Подробнее</a>
                                <a href="" class="articles-card__link">Новость</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="swiper-slide articles-slide">
                    <article class="articles-card animation-block">
                        <div class="articles-card__image animation-block">
                            <img width="389" height="182" src="img/news/image-1.jpg"
                                alt="Для чего нужен рейсмус в составе автоматизированной линии для производства сэндвич-панелей?">
                        </div>
                        <div class="articles-card__content animation-block">
                            <h3 class="animation-block">Для чего нужен рейсмус в составе
                                автоматизированной линии для
                                производства
                                сэндвич-панелей?</h3>
                            <p class="animation-block" data-delay="0.7">Данный модуль предназначен для калибровки
                                толщины плит из минеральной ваты.</p>
                            <div class="articles-card__links animation-block" data-delay="0.7">
                                <a href="" class="articles-card__more btn-primary">Подробнее</a>
                                <a href="" class="articles-card__link">Новость</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="swiper-slide articles-slide">
                    <article class="articles-card animation-block">
                        <div class="articles-card__image animation-block">
                            <img width="389" height="182" src="img/news/image-1.jpg"
                                alt="Для чего нужен рейсмус в составе автоматизированной линии для производства сэндвич-панелей?">
                        </div>
                        <div class="articles-card__content animation-block">
                            <h3 class="animation-block">Для чего нужен рейсмус в составе
                                автоматизированной линии для
                                производства
                                сэндвич-панелей?</h3>
                            <p class="animation-block" data-delay="0.7">Данный модуль предназначен для калибровки
                                толщины плит из минеральной ваты.</p>
                            <div class="articles-card__links animation-block" data-delay="0.7">
                                <a href="" class="articles-card__more btn-primary">Подробнее</a>
                                <a href="" class="articles-card__link">Новость</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="swiper-slide articles-slide">
                    <article class="articles-card animation-block">
                        <div class="articles-card__image animation-block">
                            <img width="389" height="182" src="img/news/image-1.jpg"
                                alt="Для чего нужен рейсмус в составе автоматизированной линии для производства сэндвич-панелей?">
                        </div>
                        <div class="articles-card__content animation-block">
                            <h3 class="animation-block">Для чего нужен рейсмус в составе
                                автоматизированной линии для
                                производства
                                сэндвич-панелей?</h3>
                            <p class="animation-block" data-delay="0.7">Данный модуль предназначен для калибровки
                                толщины плит из минеральной ваты.</p>
                            <div class="articles-card__links animation-block" data-delay="0.7">
                                <a href="" class="articles-card__more btn-primary">Подробнее</a>
                                <a href="" class="articles-card__link">Новость</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="swiper-slide articles-slide">
                    <article class="articles-card animation-block">
                        <div class="articles-card__image animation-block">
                            <img width="389" height="182" src="img/news/image-1.jpg"
                                alt="Для чего нужен рейсмус в составе автоматизированной линии для производства сэндвич-панелей?">
                        </div>
                        <div class="articles-card__content animation-block">
                            <h3 class="animation-block">Для чего нужен рейсмус в составе
                                автоматизированной линии для
                                производства
                                сэндвич-панелей?</h3>
                            <p class="animation-block" data-delay="0.7">Данный модуль предназначен для калибровки
                                толщины плит из минеральной ваты.</p>
                            <div class="articles-card__links animation-block" data-delay="0.7">
                                <a href="" class="articles-card__more btn-primary">Подробнее</a>
                                <a href="" class="articles-card__link">Новость</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="swiper-slide articles-slide">
                    <article class="articles-card animation-block">
                        <div class="articles-card__image animation-block">
                            <img width="389" height="182" src="img/news/image-1.jpg"
                                alt="Для чего нужен рейсмус в составе автоматизированной линии для производства сэндвич-панелей?">
                        </div>
                        <div class="articles-card__content animation-block">
                            <h3 class="animation-block">Для чего нужен рейсмус в составе
                                автоматизированной линии для
                                производства
                                сэндвич-панелей?</h3>
                            <p class="animation-block" data-delay="0.7">Данный модуль предназначен для калибровки
                                толщины плит из минеральной ваты.</p>
                            <div class="articles-card__links animation-block" data-delay="0.7">
                                <a href="" class="articles-card__more btn-primary">Подробнее</a>
                                <a href="" class="articles-card__link">Новость</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>