<section class="hero">
    <div class="hero__top">
        <div class="hero-main hero__main">
            <ul class="hero-nav list-reset">
                <li><a href="" class="hero-nav__link">О нас</a></li>
                <li><a href="" class="hero-nav__link">Блог</a></li>
                <li><a href="" class="hero-nav__link">Прозводственные линии</a></li>
                <li><a href="" class="hero-nav__link">Модули и участки линий</a></li>
                <li><a href="" class="hero-nav__link">Наши проекты</a></li>
                <li><a href="" class="hero-nav__link">Оплата и доствка</a></li>
                <li><a href="" class="hero-nav__link">Контакты</a></li>
            </ul>
            <div class="hero-main__video">
                <picture>
                    <source srcset="img/hero.webp" type="image/webp">
                    <img src="img/hero.webp">
                </picture>
            </div>
            <div class="hero-main__content">
                <h1>Автоматизированные <span>линии</span><br />
                    для неприрывного <span>производства</span><br />
                    сэндвич-панелей
                </h1>
                <div class="bottom">
                    <button class="hero-main__presentation btn-secondary btn-reset">Смотреть видеопрезентацию</button>
                    <p>Единственный производитель автоматизированных линий для изготовления
                        сэндвич-панелей в России</p>
                </div>
            </div>
        </div>
        <div class="hero-side hero__side">
            <div class="hero-side__top">
                <a href="main.html" class="hero__logo">
                    <img src="img/logo.svg" alt="Логотип">
                </a>
                <div class="hero-side__item item-top">
                    <p class="hero__after-logo">Российский производитель линий
                        для изготовления сэндвич-панелей
                    </p>
                </div>
                <div class="hero-side__item item-top">
                    <a class="hero-side__phone" href="tel:+88003010799">
                        <img src="img/icons/phone.svg" alt="">
                        <span>8 (800) 301 07 99</span>
                    </a>
                </div>
                <div class="hero-side__order hero-side__item item-top">
                    <div class="left">
                        <a href=""><img src="img/icons/whatsapp.svg" alt=""></a>
                        <a href=""><img src="img/icons/telegram.svg" alt=""></a>
                    </div>
                    <button data-modal="modal-order" class="hero-side__order-call btn-reset" href="">Заказать
                        звонок</button>
                </div>
            </div>
            <div class="hero-side__bottom">
                <ul class="list-reset">
                    <li>Возможность установки в<br /> помещениях площадью<br />
                        от 1 000 кв.м.
                    </li>
                    <li>Высокая производительность<br /> линии: до 8 п.м./мин.
                    </li>
                    <li>Рабочая смена:<br />
                        от 3х человек
                    </li>
                </ul>
                <button data-modal="modal-consultation" class="hero-side__consultation btn-primary btn-reset">Получить
                    консультацию
                </button>
            </div>
        </div>
    </div>
    <div class="hero__container-bottom">
        <div class="hero__card">
            <div class="label"></div>
            <div class="content">
                <h3>Индивидуальное производство</h3>
                <p>Разработаем. создадим и введем в эксплуатацию оборудование под ваши задачи, технические
                    возможности и
                    пожелания
                </p>
            </div>
        </div>
        <div class="hero__card">
            <div class="label"></div>
            <div class="content">
                <h3>Гарантийное
                    и постгарантийное обслуживание
                </h3>
                <p>Предоставляем гарантию 12 месяцев со дня запуска линии. Обучаем персонал, осуществляем тех.поддержку
                    и сервисное обслуживание

                </p>
            </div>
        </div>
        <div class="hero__card">
            <div class="label"></div>
            <div class="content">
                <h3>Интеграция в действующие линии
                </h3>
                <p>Интегрируем модули сиситемы
                    в работающие линии по производству сэндвич-панеделей других производителей</p>
            </div>
        </div>
        <div class="hero__card">
            <div class="label"></div>
            <div class="content">
                <h3>Минимальные вложения
                    и быстрая окупаемость
                </h3>
                <p>Возможность покупки в лизинг. Срок окупаемости от 6 месяцев при условии загрузки производственных
                    мощностей на 100%.
                </p>
            </div>
        </div>
    </div>
</section>