<section class="production">
    <div class="production__container fluid">
        <div class="production__head">
            <div class="left">
                <h1 class="production__title animation-block" data-duration="2.2">Модули и участки линий
                    производства сэндвич-панелей</h1>
                <div class="production__head-buttons">
                    <button class="production__video-button animation-block btn-primary btn-reset">Смотреть
                        видеопрезентацию
                    </button>
                    <button data-modal="modal-consultation"
                        class="production__consultations-button animation-block btn-primary btn-reset">Получить
                        консультацию
                    </button>
                </div>
            </div>
            <p class="animation-block from-right" data-delay="1">Единственный производитель автоматизированных линий
                для изготовления сэндвич-панелей в России</p>
        </div>
    </div>
    <div class="production__video animation-block from-right" data-delay="1">
        <picture>
            <source srcset="img/hero.webp" type="image/webp">
            <img height="440" src="img/hero.webp">
        </picture>
    </div>
    <div class="production__items fluid">
        <div class="production-item">
            <div class="production-item__label animation-block"></div>
            <p class="animation-block">Сокращение производственных затрат</p>
        </div>
        <div class="production-item">
            <div class="production-item__label animation-block"></div>
            <p class="animation-block">Модернизация действующих линий других производителей</p>
        </div>
        <div class="production-item">
            <div class="production-item__label animation-block"></div>
            <p class="animation-block">Повышение качества выпускаемой продукции</p>
        </div>
    </div>
</section>