<section class="projects-section">
    <div class="projects-section__container fluid">
        <div class="projects-section__head">
            <h2 class="projects-section__title section-title">Наши выполненные проекты</h2>
        </div>
        <div class="projects-section-slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="projects-card">
                        <div class="projects-card__content">
                            <h3>Автоматизированный кантователь готовых панелей с вакуумным захватом</h3>
                            <span>Описание выполненной задачи</span>
                            <ul>
                                <li>Разработка</li>
                                <li>Производство</li>
                                <li>Интеграция</li>
                                <li>ПНР</li>
                            </ul>
                        </div>
                        <div class="projects-card__right">
                            <img width="328" height="356" src="img/projects/image-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="projects-card">
                        <div class="projects-card__content">
                            <h3>Автоматизированный кантователь готовых панелей с вакуумным захватом</h3>
                            <span>Описание выполненной задачи</span>
                            <ul>
                                <li>Разработка</li>
                                <li>Производство</li>
                                <li>Интеграция</li>
                                <li>ПНР</li>
                            </ul>
                        </div>
                        <div class="projects-card__right">
                            <img width="328" height="356" src="img/projects/image-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="projects-card">
                        <div class="projects-card__content">
                            <h3>Автоматизированный кантователь готовых панелей с вакуумным захватом</h3>
                            <span>Описание выполненной задачи</span>
                            <ul>
                                <li>Разработка</li>
                                <li>Производство</li>
                                <li>Интеграция</li>
                                <li>ПНР</li>
                            </ul>
                        </div>
                        <div class="projects-card__right">
                            <img width="328" height="356" src="img/projects/image-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="projects-card">
                        <div class="projects-card__content">
                            <h3>Автоматизированный кантователь готовых панелей с вакуумным захватом</h3>
                            <span>Описание выполненной задачи</span>
                            <ul>
                                <li>Разработка</li>
                                <li>Производство</li>
                                <li>Интеграция</li>
                                <li>ПНР</li>
                            </ul>
                        </div>
                        <div class="projects-card__right">
                            <img width="328" height="356" src="img/projects/image-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="" class="projects-section__more btn-primary">Все проекты</a>
    </div>
</section>