<section class="requisites">
    <div class="requisites__container fluid">
        <div class="requisites__head">
            <h2 class="requisites__title section-title">Реквизиты</h2>
        </div>
        <div class="requisites__info">
            <span>ООО "ИНТЕЛМАШИН"</span>
            <p>Юридический адрес: 107553, Москва г,Внутригородская территория муниципальный округ
                Преображенское, Черкизовская Б. ул, дом 24А,строение 1, этаж 7, оф. 715</p>

            <p>Факт. адрес: 107553, Москва г,ул. Большая Черкизовская, дом 24А,строение 1, этаж 7, оф. 715
            </p>

            <p>Р/с: 40702810301990002540</p>

            <p>БИК 044525593ИНН/КПП 7702464207/770201001ОГРН 1197746138138</p>
        </div>
    </div>
</section>