<section class="standart">
    <div class="standart__container">
        <div class="standart__video">
            <picture>
                <source srcset="img/hero.webp" type="image/webp">
                <img src="img/hero.webp" width="634" height="649">
            </picture>
        </div>
        <div class="standart__right">
            <div class="standart__head">
                <h2 class="standart__title section-title lg">Выпускаемая продукция соответствует стандартам <span>ГОСТ
                        РФ
                        32603-2021</span>
                </h2>
                <p class="standart_subtitle section-subtitle">А это значиит, что вы можете участвовать в любых
                    государственных тендерах и продвать продукцию крупным компаниям
                </p>
            </div>
            <ul class="standart__content">
                <li>Толщина панелей от 50 до 350 мм</li>
                <li>Длина панелей: от 2,5 до 12 м</li>
                <li>Ширина панелей: 1190 мм (стеновые) 1000 мм (кровельные)</li>
                <li>Наполнитель: минеральная вата, пенополистерол</li>
                <li>Плотность минеральной ваты: 95 -115 кг/м³</li>
            </ul>
        </div>
    </div>
</section>