<section class="system">
    <div class="system__top">
        <div class="system__left">
            <div class="system__head">
                <h2 class="system__title section-title animation-block">Модульная система линий по непрерывному
                    производству
                    сэндвич-панелей</h2>
                <p class="system__subtitle section-subtitle animation-block">Оптимизируем производственные расходы и
                    расширяем
                    технические
                    возможности
                </p>
            </div>
            <div class="system__content" data-delay="0.6">
                <img src="img/system/image-1.png" width="768" height="426">
                <div class="system__content-grid">
                    <div class="system__tooltip tooltip-system">
                        <div class="tooltip-system__trigger">
                            @include('./UI/plus-icon.html')
                        </div>
                    </div>
                    <div class="system__tooltip tooltip-system">
                        <div class="tooltip-system__trigger">
                            @include('./UI/plus-icon.html')
                        </div>
                    </div>
                    <div class="system__tooltip tooltip-system">
                        <div class="tooltip-system__trigger">
                            @include('./UI/plus-icon.html')
                        </div>
                    </div>
                    <div class="system__tooltip tooltip-system">
                        <div class="tooltip-system__trigger">
                            @include('./UI/plus-icon.html')
                        </div>
                    </div>
                    <div class="system__tooltip tooltip-system">
                        <div class="tooltip-system__trigger">
                            @include('./UI/plus-icon.html')
                        </div>
                    </div>
                    <div class="system__tooltip tooltip-system">
                        <div class="tooltip-system__trigger">
                            @include('./UI/plus-icon.html')
                        </div>
                    </div>
                    <div class="system__tooltip tooltip-system">
                        <div class="tooltip-system__trigger">
                            @include('./UI/plus-icon.html')
                        </div>

                    </div>
                    <div class="system__tooltip tooltip-system">
                        <div class="tooltip-system__trigger">
                            @include('./UI/plus-icon.html')
                        </div>

                    </div>

                </div>
            </div>
            <div class="system__tooltips">
                <div class="tooltip-system__info">
                    <div class="tooltip-system__top">
                        <div class="tooltip-system__icon">
                            @include('./UI/plus-icon.html')
                        </div>
                        <p>Автоматизированная комплектация готовых сэндвич-панелей</p>
                    </div>
                    <a href="" class="tooltip-system__more btn-primary">Подробнее</a>
                </div>
                <div class="tooltip-system__info">
                    <div class="tooltip-system__top">
                        <div class="tooltip-system__icon">
                            @include('./UI/plus-icon.html')
                        </div>
                        <p>Автоматизированная комплектация готовых сэндвич-панелей</p>
                    </div>
                    <a href="" class="tooltip-system__more btn-primary">Подробнее</a>
                </div>
                <div class="tooltip-system__info">
                    <div class="tooltip-system__top">
                        <div class="tooltip-system__icon">
                            @include('./UI/plus-icon.html')
                        </div>
                        <p>Автоматизированная комплектация готовых сэндвич-панелей</p>
                    </div>
                    <a href="" class="tooltip-system__more btn-primary">Подробнее</a>
                </div>
                <div class="tooltip-system__info">
                    <div class="tooltip-system__top">
                        <div class="tooltip-system__icon">
                            @include('./UI/plus-icon.html')
                        </div>
                        <p>Автоматизированная комплектация готовых сэндвич-панелей</p>
                    </div>
                    <a href="" class="tooltip-system__more btn-primary">Подробнее</a>
                </div>

                <div class="tooltip-system__info">
                    <div class="tooltip-system__top">
                        <div class="tooltip-system__icon">
                            @include('./UI/plus-icon.html')
                        </div>
                        <p>Автоматизированная комплектация готовых сэндвич-панелей</p>
                    </div>
                    <a href="" class="tooltip-system__more btn-primary">Подробнее</a>
                </div>
                <div class="tooltip-system__info">
                    <div class="tooltip-system__top">
                        <div class="tooltip-system__icon">
                            @include('./UI/plus-icon.html')
                        </div>
                        <p>Автоматизированная комплектация готовых сэндвич-панелей</p>
                    </div>
                    <a href="" class="tooltip-system__more btn-primary">Подробнее</a>
                </div>
                <div class="tooltip-system__info">
                    <div class="tooltip-system__top">
                        <div class="tooltip-system__icon">
                            @include('./UI/plus-icon.html')
                        </div>
                        <p>Автоматизированная комплектация готовых сэндвич-панелей</p>
                    </div>
                    <a href="" class="tooltip-system__more btn-primary">Подробнее</a>
                </div>
                <div class="tooltip-system__info">
                    <div class="tooltip-system__top">
                        <div class="tooltip-system__icon">
                            @include('./UI/plus-icon.html')
                        </div>
                        <p>Автоматизированная комплектация готовых сэндвич-панелей</p>
                    </div>
                    <a href="" class="tooltip-system__more btn-primary">Подробнее</a>
                </div>

            </div>
        </div>
        <div class="system__side animation-block" data-delay="0.7">
            <div class="system__accordion accordion">
                <div class="accordion__label">
                    <svg width="27" height="138" viewBox="0 0 27 138" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M15.9896 0C15.7517 14.4325 15.4283 23.6751 15 26C13.4413 34.4617 10.2958 39.9483 7.28609 45.1982L7.28601 45.1983L7.28598 45.1983C3.53771 51.7364 0 57.9072 0 69C0 80.0928 3.53772 86.2636 7.28601 92.8017L7.28609 92.8018C10.2958 98.0517 13.4413 103.538 15 112C15.4746 114.577 15.8206 123.866 16.0639 138H27V0H15.9896Z">
                        </path>
                    </svg>
                </div>
                <div class="panel">
                    <div class="tooltip">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 0C17.0751 0 22 4.92487 22 11C22 17.0751 17.0751 22 11 22C4.92487 22 0 17.0751 0 11C0 4.92487 4.92487 0 11 0ZM11 18.3333C12.0125 18.3333 12.8333 17.5125 12.8333 16.5L12.8333 11C12.8333 9.98748 12.0125 9.16667 11 9.16667C9.98748 9.16667 9.16667 9.98748 9.16667 11L9.16667 16.5C9.16667 17.5125 9.98748 18.3333 11 18.3333ZM11 7.33333C12.0125 7.33333 12.8333 6.51252 12.8333 5.5C12.8333 4.48748 12.0125 3.66667 11 3.66667C9.98748 3.66667 9.16667 4.48748 9.16667 5.5C9.16667 6.51252 9.98748 7.33333 11 7.33333Z"
                                fill="#EF662E" />
                        </svg>
                        <div class="tooltip__content">
                            <span>Расчет экономии:</span>
                            <p>Текст расчета - Засчет чего экономим</p>
                        </div>
                    </div>
                    <h3>-30%</h3>
                    <p>Оптимизируем производственные расходы
                        и расширяем технические возможности
                    </p>
                </div>
            </div>
            <div class="system__accordion accordion">
                <div class="accordion__label">
                    <svg width="27" height="138" viewBox="0 0 27 138" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M15.9896 0C15.7517 14.4325 15.4283 23.6751 15 26C13.4413 34.4617 10.2958 39.9483 7.28609 45.1982L7.28601 45.1983L7.28598 45.1983C3.53771 51.7364 0 57.9072 0 69C0 80.0928 3.53772 86.2636 7.28601 92.8017L7.28609 92.8018C10.2958 98.0517 13.4413 103.538 15 112C15.4746 114.577 15.8206 123.866 16.0639 138H27V0H15.9896Z">
                        </path>
                    </svg>

                </div>
                <div class="panel">
                    <div class="tooltip">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 0C17.0751 0 22 4.92487 22 11C22 17.0751 17.0751 22 11 22C4.92487 22 0 17.0751 0 11C0 4.92487 4.92487 0 11 0ZM11 18.3333C12.0125 18.3333 12.8333 17.5125 12.8333 16.5L12.8333 11C12.8333 9.98748 12.0125 9.16667 11 9.16667C9.98748 9.16667 9.16667 9.98748 9.16667 11L9.16667 16.5C9.16667 17.5125 9.98748 18.3333 11 18.3333ZM11 7.33333C12.0125 7.33333 12.8333 6.51252 12.8333 5.5C12.8333 4.48748 12.0125 3.66667 11 3.66667C9.98748 3.66667 9.16667 4.48748 9.16667 5.5C9.16667 6.51252 9.98748 7.33333 11 7.33333Z"
                                fill="#EF662E" />
                        </svg>
                        <div class="tooltip__content">
                            <span>Расчет экономии:</span>
                            <p>Текст расчета - Засчет чего экономим</p>
                        </div>
                    </div>
                    <h3>-30%</h3>
                    <p>Оптимизируем производственные расходы
                        и расширяем технические возможности
                    </p>
                </div>
            </div>
            <div class="system__accordion accordion">
                <div class="accordion__label">
                    <svg width="27" height="138" viewBox="0 0 27 138" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M15.9896 0C15.7517 14.4325 15.4283 23.6751 15 26C13.4413 34.4617 10.2958 39.9483 7.28609 45.1982L7.28601 45.1983L7.28598 45.1983C3.53771 51.7364 0 57.9072 0 69C0 80.0928 3.53772 86.2636 7.28601 92.8017L7.28609 92.8018C10.2958 98.0517 13.4413 103.538 15 112C15.4746 114.577 15.8206 123.866 16.0639 138H27V0H15.9896Z">
                        </path>
                    </svg>
                </div>
                <div class="panel">
                    <div class="tooltip">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 0C17.0751 0 22 4.92487 22 11C22 17.0751 17.0751 22 11 22C4.92487 22 0 17.0751 0 11C0 4.92487 4.92487 0 11 0ZM11 18.3333C12.0125 18.3333 12.8333 17.5125 12.8333 16.5L12.8333 11C12.8333 9.98748 12.0125 9.16667 11 9.16667C9.98748 9.16667 9.16667 9.98748 9.16667 11L9.16667 16.5C9.16667 17.5125 9.98748 18.3333 11 18.3333ZM11 7.33333C12.0125 7.33333 12.8333 6.51252 12.8333 5.5C12.8333 4.48748 12.0125 3.66667 11 3.66667C9.98748 3.66667 9.16667 4.48748 9.16667 5.5C9.16667 6.51252 9.98748 7.33333 11 7.33333Z"
                                fill="#EF662E" />
                        </svg>
                        <div class="tooltip__content">
                            <span>Расчет экономии:</span>
                            <p>Текст расчета - Засчет чего экономим</p>
                        </div>
                    </div>
                    <h3>-30%</h3>
                    <p>Оптимизируем производственные расходы
                        и расширяем технические возможности
                    </p>
                </div>
            </div>
            <div class="system__accordion accordion active">
                <div class="accordion__label">
                    <svg width="27" height="138" viewBox="0 0 27 138" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M15.9896 0C15.7517 14.4325 15.4283 23.6751 15 26C13.4413 34.4617 10.2958 39.9483 7.28609 45.1982L7.28601 45.1983L7.28598 45.1983C3.53771 51.7364 0 57.9072 0 69C0 80.0928 3.53772 86.2636 7.28601 92.8017L7.28609 92.8018C10.2958 98.0517 13.4413 103.538 15 112C15.4746 114.577 15.8206 123.866 16.0639 138H27V0H15.9896Z">
                        </path>
                    </svg>
                </div>
                <div class="panel">
                    <div class="tooltip">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11 0C17.0751 0 22 4.92487 22 11C22 17.0751 17.0751 22 11 22C4.92487 22 0 17.0751 0 11C0 4.92487 4.92487 0 11 0ZM11 18.3333C12.0125 18.3333 12.8333 17.5125 12.8333 16.5L12.8333 11C12.8333 9.98748 12.0125 9.16667 11 9.16667C9.98748 9.16667 9.16667 9.98748 9.16667 11L9.16667 16.5C9.16667 17.5125 9.98748 18.3333 11 18.3333ZM11 7.33333C12.0125 7.33333 12.8333 6.51252 12.8333 5.5C12.8333 4.48748 12.0125 3.66667 11 3.66667C9.98748 3.66667 9.16667 4.48748 9.16667 5.5C9.16667 6.51252 9.98748 7.33333 11 7.33333Z"
                                fill="#EF662E" />
                        </svg>
                        <div class="tooltip__content">
                            <span>Расчет экономии:</span>
                            <p>Текст расчета - Засчет чего экономим</p>
                        </div>
                    </div>
                    <h3>-30%</h3>
                    <p>Оптимизируем производственные расходы
                        и расширяем технические возможности
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="system__cards">
        <div class="system-card system__card">
            <div class="content">
                <h3 class="animation-block">«Оптимальная» комплектация линии</h3>
                <p class="animation-block" data-delay="0.6">Производственная линия для производства сэндвич-панелей
                    обеспечивает
                    высокую
                    степень автоматизации и
                    широкий ассортимент выпускаемой продукции</p>
            </div>
            <div class="system-card__image animation-block">
                <img width="335" height="147" src="img/lines/image-1.webp" alt="«Оптимальная» комплектация линии">
            </div>
            <a href="" class="more btn-primary animation-block" data-delay="0.7">Подробнее</a>
        </div>
        <div class="system-card system__card">
            <div class="content">
                <h3 class="animation-block">«Базовая» комплектация линии</h3>
                <p class="animation-block" data-delay="0.6">Производственная линия с возможностью дальнейшей
                    модернизации и
                    гарантированным
                    качеством готовой
                    продукции
                </p>
            </div>
            <div class="system-card__image">
                <img width="335" height="147" src="img/lines/image-2.webp" alt="«Базовая» комплектация линии">
            </div>
            <a href="" class="more btn-primary animation-block" data-delay="0.7">Подробнее</a>
        </div>
    </div>
</section>