<section class="team">
    <div class="team__container fluid">
        <div class="team__head">
            <h2 class="team__title section-title">Команда</h2>
        </div>
        <div class="team__grid">
            @include('./UI/team-card.html')
            @include('./UI/team-card.html')
            @include('./UI/team-card.html')
            @include('./UI/team-card.html')
            @include('./UI/team-card.html')
            @include('./UI/team-card.html')
            @include('./UI/team-card.html')
            @include('./UI/team-card.html')
        </div>
    </div>
</section>