*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
  @include EURegular;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;

  color: var(--dark-color);
}

.main.offset {
  padding-top: 90px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку

  &.visible {
    overflow: visible;
  }
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-color);
  z-index: 200;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
  width: 100%;
}

.fluid {
  margin: 0 auto;
  max-width: calc(100% - 68px);
  width: 100%;

  @include desktop {
    max-width: calc(100% - 40px);
  }
}

p {
  color: var(--pale-color);
}

.btn-primary,
.btn-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include EUSemiBold;
  padding: 20px 10px;
  font-size: 13px;
  line-height: 22px;
  border-radius: var(--radius);
  transition: background-color .25s ease-in-out;

  @include mobile {
    padding: 11px;
    font-size: 11px;
    line-height: 22px;
  }
}

.btn-primary {
  background-color: var(--accent-color);
  color: var(--light-color);

  &:hover {
    background-color: #FE7E4A;
  }
}

.btn-secondary {
  background-color: var(--light-color);
  color: var(--dark-color);

  &:hover {
    background-color: #F8F8F8;
  }
}

.section-title {
  @include EUSemiBold;
  font-size: 26px;
  line-height: 32px;
  margin: 0;

  @include small-tablet {
    font-size: 20px;
    line-height: 24px;
  }

  &.lg {
    font-size: 36px;
    line-height: 40px;

    @include small-tablet {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.section-subtitle {
  @include EUSemiBold;
  font-size: 15px;
  line-height: 22px;
  color: var(--pale-color);
  margin: 0;

  @include small-tablet {
    font-size: 13px;
    line-height: 17px;
  }
}

h1 {
  @include EUSemiBold;
  font-size: 44px;
  line-height: 48px;
  letter-spacing: -0.02em;
  max-width: 800px;

  @include small-tablet {
    font-size: 32px;
    line-height: 34px;
  }
}



.swiper-slide {
  display: flex;
}

.swiper-button-next {
  right: 5px;
}

.swiper-button-prev {
  left: 5px;
}

.swiper-button-prev,
.swiper-button-next {
  &:after {
    display: none;
  }
}

.swiper-pagination-bullet {
  width: 20px;
  height: 3px;
  background-color: var(--light-color);
  opacity: 1;
  border-radius: 0;
  transition: background-color .25s ease-in-out;

  &-active {
    background-color: var(--accent-color);
  }
}

.contact-us {
  &__button {
    min-width: 237px;
    width: 100%;
    margin-bottom: 27px;
  }

  &__questions {

    span {
      font-size: 14px;
      line-height: 22px;

      @include mobile {
        max-width: 120px;
      }
    }

    &.flex {
      @include flex-v-center;
      gap: 24px;
    }
  }

  &__links {
    @include flex-v-center;
    gap: 10px;
  }
}