// colors
:root {
  // colors
  --light-color: #fff;
  --dark-color: #000;
  --gray-color: #AAAEB2;
  --pale-color: #6F757C;
  --manatee-color: #939DAC;
  --porclain-color: #F3F4F5;
  --botticelli-color: #CCD9E4;
  --blue-color: #2252BF;
  --athens-color: #F3F4F8;
  --accent-color: #EF662E;

  // 
  --radius: 31px;
}