// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "global";
@import "settings";

@import "animations";
@import "./components/UI/nav";
@import "./components/UI/breadcrumbs";
@import "./components/UI/equipment-card";
@import "./components/UI/page-pagination";
@import "./components/UI/checkbox";
@import "./components/UI/input";
@import "./components/UI/modals";

// подключения компонентов страницы
@import "./components/header";
//
@import "./components/hero";
@import "./components/system";
@import "./components/standart";
@import "./components/open";
@import "./components/about";
@import "./components/articles";
@import "./components/read-more";
@import "./components/projects";
@import "./components/production";
@import "./components/equipment";
@import "./components/lines";
@import "./components/blog";
@import "./components/history";
@import "./components/team";
@import "./components/requisites";
@import "./components/delivery";
@import "./components/news";
@import "./components/contacts";
@import "./components/module";
@import "./components/branch";
@import "./components/configurations";
@import "./components/types";
@import "./components/control";
//
@import "./components/footer";


// <picture>
//     <source srcset="@path" type="image/webp">
//     <img loading="lazy" src="@path" width="@width" height="@height">
// </picture>

.empty {
    padding: 50px 0;
    @include flex-all-center;
}


.not-found {
    &__container {
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        h1 {
            color: var(--blue-color);
            font-size: 140px;
            @include EUSemiBold;
            line-height: 1.2;
            margin: 0;

            @include mobile {
                font-size: 100px;
            }
        }

        p {
            font-size: 20px;
            margin: 0;
        }

        a {
            margin-top: 60px;
            min-width: 200px;

            @include mobile {
                margin-top: 40px;
            }
        }
    }
}

.policy-page {
    &__container {
        padding-bottom: 100px;
    }

    &__title {
        @include mobile {
            font-size: 28px;
            line-height: 1.2;
        }
    }

    &__item {
        max-width: 840px;
        width: 100%;

        p {
            margin: 0 0 20px 0;
            line-height: 1.2;

            a {
                color: var(--blue-color);
            }
        }
    }
}